body{
    background-color: rgba(196, 196, 196, 0.459)
}

.navbar{
    min-height: 10vh;
    background-color: rgba(182, 180, 176, 0.767);

}

.img-div{
    padding-top: 5vh;
    
}

img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img:hover{
    filter: grayscale(0.99);
}

